@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  background-color: rgb(0, 0, 0);
  color: rgba(255, 255, 255, 0.8);
}

.navbar-container {
  position: relative;
  overflow: hidden;
  z-index: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  position: fixed;
  z-index: 50;
  top: 0;
  background-color: rgba(0, 0, 0, 0.102);
  backdrop-filter: blur(12px);
  width: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  height: 35px;
  width: 35px;
  color: rgb(217, 15, 15);
  filter: drop-shadow(2px 2px 4px rgba(134, 9, 9, 0.882));
  transition: all 0.6s;
  margin-left: 10px;
}

.brand:hover {
  cursor: pointer;
  transform: rotate(360deg) scale(1.1);
}

.logout {
  margin-right: 10px;
}

.logout h1:hover {
  cursor: pointer;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.avatar {
  height: 35px;
  width: 35px;
  transition: all 0.6s;
  margin-left: 10px;
  border-radius: 50%;
}

.avatar:hover {
  cursor: pointer;
  transform: rotate(360deg) scale(1.1);
}

.nav-text {
  font-size: 1.5rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.8);
}

button {
  background-color: rgb(245, 101, 101);
  color: white;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  width: 100%;
  border: 2px solid rgb(252, 129, 129);
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  cursor: pointer;
  background-color: rgb(252, 129, 129);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  height: 90vh;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  max-width: 500px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  background-color: rgb(24, 24, 27);
  border: 2px solid rgb(39, 39, 42);
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 0.75rem;
  box-sizing: border-box;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.75rem;
}

.logo {
  width: 250px;
}

.title {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
}

.input-group {
  display: flex;
  flex-direction: column;
  color: rgb(209, 213, 219);
  font-size: 1rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.label {
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.input {
  background-color: rgb(39, 39, 42);
  padding: 0.5rem;
  border-radius: 0.375rem;
  border: 1px solid rgba(107, 114, 128, 0.6);
  color: rgb(209, 213, 219);
}

.input:hover {
  border-color: rgb(107, 114, 128);
}

.input:focus,
.input:active {
  border-color: rgb(107, 114, 128);
  outline: none;
  box-shadow: 0 0 0 2px rgb(107, 114, 128);
}

.button-container {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.button {
  background-color: rgb(239, 68, 68);
  color: rgb(255, 255, 255);
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  width: 100%;
  border: 2px solid rgb(248, 113, 113);
  margin-top: 5xp;
}

.button:hover {
  background-color: rgb(248, 113, 113);
}

@media (min-width: 640px) {
  .container {
    gap: 0;
  }
}

.gradient-top-left,
.gradient-top-right,
.gradient-bottom-left {
  display: none;
}

@media (min-width: 1024px) {
  .gradient-top-left,
  .gradient-top-right,
  .gradient-bottom-left {
    display: flex;
    position: absolute;
    border-radius: 1.5rem;
    z-index: -1;
  }

  .gradient-top-left {
    top: 0;
    left: 0;
    width: 9rem;
    height: 9rem;
    filter: blur(140px);
    background: linear-gradient(to right, rgb(220, 38, 38), rgb(185, 28, 28));
  }
  .gradient-top-right {
    top: 24rem;
    right: 0;
    width: 12rem;
    height: 12rem;
    filter: blur(180px);
    background: linear-gradient(to right, rgb(244, 63, 94), rgb(190, 24, 93));
  }

  .gradient-bottom-left {
    bottom: 0;
    left: 8rem;
    width: 12rem;
    height: 12rem;
    filter: blur(180px);
    background: linear-gradient(to right, rgb(153, 27, 27), rgb(131, 24, 67));
  }
}
