<!DOCTYPE html>
<html>
  <head></head>
  <body class="antialiased bg-black w-full">
    <div>
      <div
        class="hidden lg:flex absolute top-0 left-0 w-36 h-36 blur-[140px] bg-gradient-to-r from-red-600 to-red-700 rounded-3xl z-[-1]"
      ></div>
      <div
        class="hidden lg:flex absolute top-96 right-0 w-48 h-48 blur-[180px] bg-gradient-to-r from-red-500 to-pink-700 rounded-3xl z-[-1]"
      ></div>
      <div
        class="hidden lg:flex absolute bottom-0 left-32 w-48 h-48 blur-[180px] bg-gradient-to-r from-red-800 to-pink-900 rounded-3xl z-[-1]"
      ></div>
    </div>
    <div
      class="flex flex-col w-screen h-screen items-center justify-center p-4"
    >
      <div
        class="flex flex-col items-center justify-center h-full w-full max-w-[500px]"
      >
        <form
          id="form"
          class="flex flex-col gap-3 w-full bg-zinc-950 border-2 border-zinc-900 rounded-lg p-4 m-3 box-border"
        >
          <div class="flex justify-center items-center mt-3">
            <img
              draggable="false"
              class="w-[250px]"
              src="https://r2.interrupted.me/zZz/appimg.png"
              alt="interrupted.me"
            />
          </div>
          <h1 class="text-white text-2xl text-center font-semibold">
            Welcome back!
          </h1>
          <div class="flex flex-col text-gray-300 text-base px-3">
            <label class="text-sm font-medium mb-2" for="username"
              >Username</label
            >
            <input
              class="bg-zinc-800 p-2 rounded-md border border-[#6b7280]/60 hover:border-[#6b7280] focus:ring-[#6b7280] focus:border-[#6b7280] hover:ring-[#6b7280] active:ring-[#6b7280] active:border-[#6b7280]"
              type="text"
              id="username"
              name="username"
              minlength="3"
              maxlength="45"
              required
            />
          </div>
          <div class="flex flex-col text-gray-300 text-base px-3">
            <label class="text-sm font-medium mb-2" for="password"
              >Password</label
            >
            <input
              class="bg-zinc-800 p-2 rounded-md border border-[#6b7280]/60 hover:border-[#6b7280] focus:ring-[#6b7280] focus:border-[#6b7280] hover:ring-[#6b7280] active:ring-[#6b7280] active:border-[#6b7280]"
              type="password"
              id="password"
              name="password"
              minlength="8"
              maxlength="255"
              required
            />
          </div>
          <div class="px-3">
            <button
              type="submit"
              class="bg-red-500 hover:bg-red-400 text-white font-semibold py-2 px-4 rounded-md ring-2 ring-red-400 w-full"
            >
              Login
            </button>
          </div>
        </form>
      </div>
    </div>
    <script>
      const form = document.getElementById("form");
      form.addEventListener("submit", (event) => {
        event.preventDefault();
        const username = document.getElementById("username").value;
        const password = document.getElementById("password").value;

        window.login(username, password).then((response) => {
          if (response !== "success") {
            alert(response);
          }
        });
      });
    </script>
  </body>
</html>
